@model MoviesByOptionsViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div class="text-center">
    <a asp-action="GetMoviesByOption"
       asp-route-optionId="@Model.OptionType.ToString()"
       asp-route-optionName="@Model.OptionName"
       asp-route-page="@Model.PrevIndex"
       class="btn btn-info btn-lg @Model.PrevPageDisabled">Prev</a>

    <a asp-action="GetMoviesByOption"
       asp-route-optionId="@Model.OptionType.ToString()"
       asp-route-optionName="@Model.OptionName"
       asp-route-page="@Model.NextIndex"
       class="btn btn-info btn-lg @Model.NextPageDisabled">Next</a>
</div>